/* *{
  margin: 0;
}
#root{
  background: linear-gradient(to bottom, black, rgb(48, 231, 234));
color: white;
} */

body {
  background-color: black;
  height: auto;
  margin: 0;
  padding: 0;
  color: #ffffff;
  /* overflow: hidden; */
}
